:root{
    --clrNavBackground:#333;
    --clrWhite:white;
    --clrNavButtonBackground: #455EB5;
    --clrHover:#5643CC;
    --clrHeaderBackground:#444;
    --clrEditorBackground:#fff;
    --clrBlack:black;
    -clrPurple:#673FD7;
}